[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "~=5.2.1"
flake8 = "~=3.8.3"
flake8-annotations = "~=2.3.0"
flake8-import-order = "~=0.18.1"

[packages]

[requires]
python_version = "3.8"

[scripts]
lint = "flake8"
test = "coverage run -m unittest"
